CODEFORCES_BASE_URL=https://codeforces.com/api
CF_COACH_CACHE_PATH=./data/cf_cache.sqlite3
USER_CACHE_TTL_SECONDS=900
PROBLEMSET_CACHE_TTL_SECONDS=43200
MAX_SUBMISSIONS=10000
REQUEST_TIMEOUT_SECONDS=45
